extends ../../_layouts/default

block container
    .heading.mb-10 Choose Products
    .cards.cards--four.mb-20
        -
            newOrder = [
                ["SignifyCRM Lite", "THB800 per User per Month, Annual Payment"],
                ["SignifyCRM Standard", "THB2,000 per User per Month, Annual Payment."],
                ["Quick Start Implementation Services", "THB50,000, One Time Payment"],
                ["Training Services", "THB10,000 for Each Class"]
            ]
        each val in newOrder
            .card
                .mb-5= val[0]
                .text-secondary= val[1]
    .row.mb-20.gy-5.gx-20
        .col-lg-6
            .row.gx-2
                +input-grid("Enter Product Item")
        .col-lg-6
            .row.gx-2
                +input-grid("Enter Product Name")
        .col-lg-6
            .row.gx-2
                label.form-label.col-sm-4.col-form-label Choose from Category
                .col-sm-8
                    select.form-select
                        option Option
                        option Option
                        option Option
    .hstack.gap-6.mb-20
        button.btn.btn-primary.btn-min(type="button") Search
        button.btn.btn-outline-primary.btn-min(type="button") Clear
    .hstack.align-items-center.justify-content-between.mb-10
        .heading
        .pagination
            button
                +icon("prev")
                +icon("prev")
            button
                +icon("prev")
            span 1-3 of 5
            button
                +icon("next")
            button
                +icon("next")
                +icon("next")
    include ../../_components/ProductOrder/product-order
    .hstack.gap-20.justify-content-end.align-items-end.mt-20
        div
            .mb-2 Items in Cart (2)
            div Amount in Cart (75,000.00)
        div
            button.btn.btn-primary.btn-min(type="button") Next