extends ../../_layouts/default

block container
    .heading Choose Products
    .cards
        -
            newOrder = [
                ["SignifyCRM Lite", "THB800 per User per Month, Annual Payment"],
                ["SignifyCRM Standard", "THB2,000 per User per Month, Annual Payment."],
                ["Quick Start Implementation Services", "THB50,000, One Time Payment"],
                ["Training Services", "THB10,000 for Each Class"]
            ]
        each val in newOrder
            .card
                .card__title= val[0]
                .card__description= val[1]
    .row
        .col-lg-6
            .form-grid
                +input("Enter Product Item")
                label.form-label Choose from Category
                select.form-select
                    option Option
                    option Option
                    option Option
        .col-lg-6
            .form-grid
                +input("Enter Product Name")
    .hstack.gap-6
        button.btn.btn-primary(type="button") Search
        button.btn.btn-outline-primary(type="button") Clear
    .hstack.align-items-center.justify-content-between
        .heading
        .pagination
            button
                +icon("prev")
                +icon("prev")
            button
                +icon("prev")
            span 1-3 of 5
            button
                +icon("next")
            button
                +icon("next")
                +icon("next")
    include ../../_components/ProductOrder/product-order
    .row.justify-content-end
        .col-lg-4
            .hstack.gap-20.align-items-end
                div
                    p Items in Cart (2)
                    p Amount in Cart (75,000.00)
                div
                    button.btn.btn-primary(type="button") Next