extends ../../_layouts/default

block container
    .heading.mb-10 Checkout
    .row.mb-20.gy-5.gx-20
        .col-xl-6
            .row
                label.form-label.col-sm-4.col-form-label Order No:
                .col-sm-8.col-form-label.text-secondary Auto
        .col-xl-6
            .row
                label.form-label.col-sm-4.col-form-label Order Status:
                .col-sm-8.col-form-label.text-secondary New
        .col-xl-6
            .row
                label.form-label.col-sm-4.col-form-label Account Name
                .col-sm-8.col-form-label.text-secondary Muller machnics
        .col-xl-6
            .row
                +input-grid("Billing Address:")
        .col-xl-6
            .row
                +input-grid("Contact:")
        .col-xl-6
            .row
                +input-grid("Shipping Address:")
        .col-xl-6
            .row
                label.form-label.col-sm-4.col-form-label Order Date
                .col-sm-8.col-form-label.text-secondary 12-Feb-2017
    include ../../_components/ProductOrder/product-order
    .my-20
        button.btn.btn-primary(type="button") Add More Product
    .table-wrap.mb-20
        table.summary
            tbody
                tr
                    td Currency: Thai Baht
                    td.fw-medium.text-nowrap Sub total:
                    td 75,000.00
                tr
                    td
                    td.fw-medium.text-nowrap Tax (7%)
                    td 5,250.00
                tr.fw-bold
                    td
                    td Total
                    td 80,450.00
    .mb-20
        +textarea("Order Note:")(rows="5")
    .heading.mb-10 Credit Card Information
    .row.gx-20.gy-8.mb-20
        .col-sm-4.col-xl-6.col-xxl-4
            .row
                label.form-label.col-lg-auto.col-form-label Card No.
                .col-lg
                    input.form-control(type="text")
        .col-sm-4.col-xl-auto
            .row
                label.form-label.col-lg-auto.col-form-label Expiration Date
                .col-lg-auto
                    input.form-control.size-small(type="text")
        .col-sm-4.col-xl-auto
            .row
                label.form-label.col-lg-auto.col-form-label CCV
                .col-lg-auto
                    input.form-control.size-small(type="text")
    .payments.mb-20
        img(src="images/visa.svg", alt="")
        img(src="images/mastercard.svg", alt="")
        img(src="images/jcb.svg", alt="")
    .hstack.gap-6
        button.btn.btn-primary.btn-min(type="button") Proceed
        button.btn.btn-outline-primary.btn-min(type="button") Cancel
