:root {
    --wh: 100vh;
    --safe-area-bottom: calc(100vh - var(--wh));
    --outside: calc(50% - 50vw);
}

html,
body {
    overscroll-behavior-y: none;
}

html {
    &.is-lock {
        touch-action: none;
        overflow: hidden;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--gray-200);
}

img {
    max-width: 100%;
}

textarea {
    resize: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container-fluid {
    @include media-breakpoint-up(lg) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.main {
    flex: 1 1 auto;

    > div {
        display: grid;
        grid-template-columns: 1fr 240px;

        @include media-breakpoint-up(lg) {
            padding-right: 0;
        }
    }

    &__body {
        padding: 20px 0 40px;
    }
}