$easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);
$easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);
$easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
$easeInOutQuad: cubic-bezier(0.45, 0.05, 0.55, 0.95);