.navi
    -
        nav = ["Knowledge", "Download Corner", "My Cases", "Create New Case", "My Sales Orders", "My Account Contacts", "My Services Orders", "Service Level Agreement", "Edit Profile", "Change Password", "Logout"]
    each val in nav
        ul.navi-list
            li
                a(href="#")= val