.form-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;

    .form-label {
        @extend .col-form-label;
    }
}

.form-wrap {
    padding: 15px;
    background-color: var(--white);
    border-radius: 4px;

    @include media-breakpoint-up(lg) {
        padding: 20px;
    }
}

.form-label {
    span {
        color: var(--danger);
    }
}

.form-control {
    &.size-small {
        @include media-breakpoint-up(lg) {
            width: 75px;
        }
    }
}