.dropdown-toggle {
    &::after {
        border: none;
        width: 14px;
        height: 9px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.98595 0.983953L6.83307 6.21762L11.6806 0.983953C11.9635 0.671606 12.4326 0.671953 12.715 0.985375L12.7151 0.985512C12.9837 1.28412 12.984 1.75823 12.7151 2.05737L12.715 2.05755L7.35065 8.01459L7.35062 8.01462C7.06795 8.32842 6.59806 8.32852 6.31544 8.01456L0.951667 2.05754L0.951395 2.05724C0.683175 1.75837 0.6825 1.28467 0.95158 0.985513L0.951704 0.985375C1.23398 0.672017 1.7031 0.671542 1.98595 0.983953Z' fill='%235C5F62' stroke='%235C5F62' stroke-width='0.5'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

%card {
    padding: 20px;
    background-color: var(--white);
    border: thin solid rgba(var(--black-rgb), .16);
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(var(--black-rgb), .12);
}

.card {
    @extend %card;

    &__header {
        display: grid;
        grid-template-columns: 60px 1fr;
        gap: 10px;
        align-items: center;
        margin-bottom: 24px;
    }

    &__image {
        @include img-drop(1, 1);
        box-shadow: 0 0 4px rgba(var(--black-rgb), .1);
        border-radius: 50%;
    }

    &__title {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: thin solid var(--border);
    }
}

.card-info {
    @extend %card;

    &__title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__content {
        color: var(--gray);
        padding: 0 10px;

        p {
            margin-bottom: 10px;
        }
    }
}

.card-list {
    @include reset-list;

    li {
        padding: 10px 0;
        border-bottom: thin solid rgba(var(--border-rgb), .3);

        a {
            color: var(--gray);
            transition: $btn-transition;

            &:hover {
                color: var(--dark);
            }
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.cards {
    display: grid;
    gap: 15px;

    @include media-breakpoint-up(md) {
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(3, 1fr);
    }

    &--four {
        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.info {
    font-size: 15px;
    font-weight: 500;

    p {
        margin-bottom: 12px;
    }
}

.search-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.search-input {
    background-color: var(--white);
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    input {
        display: block;
        appearance: none;
        padding: 10px 14px;
        background-color: transparent;
        border-radius: 0;
        border: none;
        font-size: 14px;
    }

    svg {
        margin-right: 14px;
        font-size: 16px;
    }
}

.tabs {
    @include reset-list;
    display: flex;
    border-bottom: thin solid var(--border);

    li {
        flex: 1;

        a {
            display: block;
            font-size: 14px;
            font-weight: 500;
            color: var(--gray);
            padding: 10px;
            text-align: center;
            transition: $btn-transition;

            &:hover {
                color: var(--dark);
            }

            &.is-active {
                background-color: rgba(var(--primary-rgb), .2);
                color: var(--primary);
            }
        }
    }
}

.heading {
    font-size: 18px;
    font-weight: 500;
}

.heading-small {
    font-size: 15px;
    font-weight: 500;
}

.table-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px;

    th,
    td {
        padding-left: 20px;
        padding-right: 20px;

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }

    thead {
        th,
        td {
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #DFE2E7;
            font-size: 13px;
            font-weight: 500;
            color: var(--gray-700);
            vertical-align: top;
        }
    }

    tbody {
        th,
        td {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: var(--white);
        }
    }
}

.article {
    display: grid;
    grid-template-columns: 139px 1fr 34px;
    align-items: center;
    gap: 20px;
    min-width: 400px;
    color: var(--black);

    &__header {
        align-self: start;
    }

    &__image {
        @include img-drop(139, 94);
    }

    &__title {
        font-size: 15px;
        margin-bottom: 5px;
    }

    &__description {
        font-size: 12px;
        color: var(--gray);
    }
}

.doc {
    display: grid;
    grid-template-columns: 66px 1fr;
    gap: 20px;
    min-width: 400px;
    color: var(--black);

    &__body {
        align-self: center;
    }

    &__title {
        font-size: 15px;
        margin-bottom: 5px;
    }

    &__description {
        font-size: 12px;
        color: var(--gray);
    }
}

.pagination {
    display: flex;
    align-items: center;
    gap: 1px;

    button {
        appearance: none;
        width: 36px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 6px;
        background-color: var(--primary);
        color: var(--white);
        font-size: 7px;

        &:hover {
            background-color: darken($color: $primary, $amount: 10);
        }
    }

    span {
        margin: 0 9px;
        font-size: 10px;
        color: var(--gray);
    }
}

.badge {
    &--sm {
        --badge-padding-x: 8px;
        --badge-padding-y: 6px;
        --badge-font-size: 10px;
        --badge-border-radius: 6px;
    }
}

.quantity {
    display: inline-flex;
    align-items: center;
    gap: 1px;

    button {
        appearance: none;
        width: 36px;
        height: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 6px;
        background-color: var(--primary);
        color: var(--white);

        &:hover {
            background-color: darken($color: $primary, $amount: 10);
        }
    }

    input {
        appearance: none;
        font-size: 15px;
        padding: 0 10px;
        border: none;
        border-radius: 0;
        background-color: transparent;
        width: 50px;
        text-align: right;
    }
}

.payments {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    img {
        height: 48px;
    }
}