extends ../../_layouts/default

block container
	.row.mb-20
		.col-lg-6
			.card.card-info
				.card-info__title Your Support Overview - Signify Customer Portal (chat GPT Test)
				.card-info__content
					p For support assistance, you may contact:
					p Support Team
					p 66 82 863-6038
					p
						a(href="#") Support@signify.co.th
					hr.my-10
					p For sales assistance, you may contact:
					p Saran Banjongjit
					p +662-863-6038 ext. 304
					p
						a(href="#") saranb@signify.co.th
	.info
		p
			a(href="#") Show Outstanding Cases ( 5 Recent )
		p
			a(href="#") Show 5 Recent Cases

