extends ../../_layouts/default

block container
    .row
        .col-lg-8
            .heading.mb-10 Change Password
            .form-wrap
                .row.gy-8.mb-15
                    .col-12
                        +input("Current Password", true)
                    .col-12
                        +input("New Password", true)
                    .col-12
                        +input("New Password Confirmation", true)
                button.btn.btn-primary.btn-min(type="button") Submit