extends ../../_layouts/default

block container
    .row
        .col-lg-4
            +search-input
    .heading Basic use
    table.table
        thead
            tr
                th(colspan="2") Article Name
                th
                th Article Name
                th
        tbody
            tr
                td
                td
                    .title The role of CRM Admin in managing data in the CRM system
                    .description Why do organizations need a CRM Admin? 1. Problems of misunderstanding Don't understand the information I don't understand the steps to use...
                td
                td 2022-10-12 16:37
                td -
