.header
    .container-fluid
        a.logo(href="./")
            img(src="images/logo.png" alt="")
        .hstack.gap-8.tools.ms-auto
            a(href="#")
                +icon("search")
            a(href="#")
                +icon("notify")
                span.notify-badge 4
            .dropdown
                button.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                    span
                        img(src="images/avatar.jpg" alt="")
                    span.d-none.d-lg-block Johnson
                ul.dropdown-menu
                    li.d-lg-none
                        h6.dropdown-header Johnson
                    li
                        a.dropdown-item(href="#") Action
                    li
                        a.dropdown-item(href="#") Another action
                    li
                        a.dropdown-item(href="#") Something else here
        button.menu(type="button", data-bs-toggle="offcanvas", data-bs-target="#offcanvasNavbar", aria-controls="offcanvasNavbar", aria-label="Toggle navigation")
            +icon("menu")

.navibar
    .container-fluid
        -
            nav = ["Customer Portal", "Home", "Knowledge", "Download Corner", "My Cases", "Create New Case", "Contact Us"]
        ul.navibar-nav
            each val, index in nav
                li
                    a(href="#" class=(index == 0 && "is-active"))= val


