.description {
    font-size: 12px;
    color: var(--gray);
}

.menu-dropdown {
    @include reset-list;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border: 1px solid rgba(var(--primary-rgb), 0.5);

    li {
        a {
            display: block;
            padding: 7px 15px;
            font-size: 12px;
            color: var(--gray);

            &.is-active {
                background-color: rgba(var(--primary-rgb), 0.2);
            }
        }
    }
}

.block {
    padding: 20px;
    background-color: var(--white);
    margin-bottom: 20px;

    &__heading {
        font-size: 18px;

        @include media-breakpoint-up(lg) {
            padding-top: 24px;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

.step-1 {
    border-radius: 4px;
    border: thin solid var(--border);
    max-width: 250px;
    height: 165px;

    &__header {
        border-bottom: thin solid var(--border);

        > ul {
            @include reset-list;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            > li {
                color: var(--gray);
                position: relative;

                @include icon {
                    display: block;
                }

                > a {
                    color: inherit;
                    display: flex;
                    align-items: center;
                    height: 36px;
                    gap: 10px;
                    padding: 0 10px;

                    span {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .menu-dropdown {
        width: 107px;
        right: -1px;
    }
}

.step-2-wrap {
    border: thin solid var(--border);
    border-radius: 4px;
    overflow: hidden;
}

.step-2 {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, auto);

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, auto);
    }

    > div {
        outline: thin solid var(--border);
        padding: 10px;
        @include flex-column;
        justify-content: center;

        &.is-active {
            background-color: rgba(var(--primary-rgb), 0.2);
            color: var(--primary);
        }
    }

    &__header {
        grid-column: span 2;

        @include media-breakpoint-up(lg) {
            grid-column: span 4;
        }
    }

    .small {
        color: var(--gray-700);
    }
}

.step-3 {
    border: thin solid var(--border);
    border-radius: 4px;
    padding: 20px;
}

.select {
    position: relative;

    &__header {
        @extend .form-select;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
    }

    .menu-dropdown {
        @include media-breakpoint-down(lg) {
            position: relative;
        }
    }
}

.export-wrap {
    padding: 20px;
    border: thin solid var(--border);
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(var(--black-rgb), .12);

    select {
        appearance: none;
        outline: none;
        border: none;
        font-weight: 500;
        padding-right: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9739 1.83066L11.9734 1.83127L7.08617 7.42417C7.08606 7.42429 7.08596 7.42442 7.08585 7.42454C7.01202 7.50963 6.92273 7.57887 6.82228 7.62676C6.72157 7.67477 6.61237 7.7 6.50124 7.7C6.39012 7.7 6.28091 7.67477 6.18021 7.62676C6.07976 7.57887 5.99047 7.50963 5.91664 7.42454C5.91653 7.42442 5.91643 7.42429 5.91632 7.42417L1.02908 1.83127C0.880007 1.66067 0.8 1.43442 0.8 1.20324C0.8 0.972062 0.880007 0.745814 1.02908 0.575218C1.1789 0.403762 1.38835 0.301193 1.61347 0.301193C1.83859 0.301193 2.04804 0.403762 2.19786 0.575218L2.19795 0.57532L6.50124 5.50671L10.8041 0.575831C10.8042 0.575723 10.8043 0.575616 10.8044 0.575509C10.8782 0.490395 10.9675 0.42114 11.068 0.37324C11.1687 0.325225 11.2779 0.299999 11.389 0.299999C11.5001 0.299999 11.6093 0.325225 11.7101 0.373241L11.9739 1.83066ZM11.9739 1.83066C12.0476 1.74571 12.1046 1.64637 12.143 1.5389C12.1812 1.43174 12.2005 1.31776 12.2 1.20324M11.9739 1.83066L11.9739 0.575832C12.0476 0.660782 12.1046 0.760119 12.143 0.867589C12.1812 0.974743 12.2005 1.08873 12.2 1.20324M12.2 1.20324C12.2 1.20358 12.2 1.20392 12.2 1.20425L12 1.20324L12.2 1.20223C12.2 1.20257 12.2 1.20291 12.2 1.20324Z' fill='%23484B4E' stroke='%235C5F62' stroke-width='0.4'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
}

.export-table {
    width: 100%;
    font-size: 11px;

    input {
        appearance: none;
        width: 11px;
        height: 11px;
        background-color: var(--white);
        border: thin solid #b9b9b9;

        &:checked {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='%23285BCD' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: 50% 50%;
        }
    }

    th,
    td {
        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-up(lg) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    thead {
        th,
        td {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: var(--border);
            font-size: 12px;
            font-weight: 500;
            color: var(--dark);

            @include media-breakpoint-up(lg) {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &:first-child {
                border-radius: 4px 0 0 4px;
            }

            &:last-child {
                border-radius: 0 4px 4px 0;
            }

            > span {
                display: inline-flex;
                align-items: center;
                gap: 10px;

                &::after {
                    content: "";
                    display: inline-block;
                    width: 9px;
                    height: 14px;
                    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00001 5.36434L0.800009 5.36338C0.799609 5.44648 0.812861 5.52945 0.839552 5.60779C0.866239 5.68612 0.906236 5.75942 0.958658 5.82278C1.01129 5.88639 1.07588 5.93927 1.14992 5.97625C1.22413 6.01332 1.30546 6.03317 1.38881 6.03317C1.47216 6.03317 1.55348 6.01332 1.6277 5.97625L1.53833 5.79732L1.6277 5.97624C1.70163 5.93932 1.76614 5.88654 1.81873 5.82305C1.81881 5.82296 1.81888 5.82287 1.81896 5.82278L4.49921 2.60506L7.17989 5.82329L7.17998 5.8234C7.28672 5.95137 7.44011 6.03237 7.60961 6.03237C7.77911 6.03237 7.9325 5.95137 8.03924 5.8234L7.88753 5.69685L8.03924 5.8234C8.1451 5.69649 8.2 5.53097 8.2 5.36434C8.2 5.19772 8.1451 5.0322 8.03924 4.90529L4.92936 1.1769C4.92926 1.17678 4.92916 1.17666 4.92906 1.17654C4.87648 1.11308 4.81199 1.06034 4.7381 1.02343C4.66388 0.986359 4.58256 0.966504 4.49921 0.966504C4.41586 0.966504 4.33453 0.986359 4.26032 1.02343C4.18642 1.06034 4.12193 1.11308 4.06936 1.17654C4.06926 1.17666 4.06916 1.17678 4.06906 1.1769L0.959172 4.90528L0.958661 4.9059C0.906236 4.96927 0.866239 5.04256 0.839552 5.12089C0.812861 5.19924 0.799609 5.28221 0.800009 5.36531L1.00001 5.36434ZM1.00001 5.36434C0.999711 5.303 1.00952 5.24218 1.02887 5.18539C1.04822 5.1286 1.07672 5.07695 1.11276 5.03339L1.11276 5.69529C1.07672 5.65174 1.04822 5.60008 1.02887 5.54329C1.00952 5.4865 0.999711 5.42569 1.00001 5.36434Z' fill='%23484B4E' stroke='%235C5F62' stroke-width='0.4'/%3E%3Cpath d='M7.99999 8.63541L8.19999 8.63638C8.20039 8.55328 8.18714 8.47031 8.16045 8.39197C8.13376 8.31364 8.09376 8.24034 8.04134 8.17698C7.98871 8.11336 7.92412 8.06049 7.85008 8.02351C7.77587 7.98644 7.69454 7.96659 7.61119 7.96659C7.52784 7.96659 7.44652 7.98644 7.3723 8.02351L7.46167 8.20243L7.3723 8.02351C7.29837 8.06044 7.23386 8.11321 7.18127 8.17671C7.18119 8.1768 7.18112 8.17689 7.18104 8.17698L4.50079 11.3947L1.82011 8.17646L1.82002 8.17636C1.71328 8.04838 1.55989 7.96738 1.39039 7.96738C1.22089 7.96738 1.0675 8.04838 0.960757 8.17636L1.11247 8.30291L0.960757 8.17636C0.854898 8.30327 0.8 8.46879 0.8 8.63541C0.8 8.80204 0.854898 8.96756 0.960757 9.09447L4.07064 12.8229C4.07074 12.823 4.07084 12.8231 4.07094 12.8232C4.12352 12.8867 4.18801 12.9394 4.2619 12.9763C4.33612 13.0134 4.41744 13.0333 4.50079 13.0333C4.58414 13.0333 4.66547 13.0134 4.73968 12.9763C4.81358 12.9394 4.87807 12.8867 4.93064 12.8232C4.93074 12.8231 4.93084 12.823 4.93094 12.8229L8.04083 9.09447L8.04134 9.09385C8.09376 9.03049 8.13376 8.95719 8.16045 8.87886C8.18714 8.80052 8.20039 8.71755 8.19999 8.63445L7.99999 8.63541ZM7.99999 8.63541C8.00029 8.69676 7.99048 8.75757 7.97113 8.81436C7.95178 8.87115 7.92328 8.92281 7.88724 8.96636L7.88724 8.30446C7.92328 8.34802 7.95178 8.39967 7.97113 8.45646C7.99048 8.51326 8.00029 8.57407 7.99999 8.63541Z' fill='%23484B4E' stroke='%235C5F62' stroke-width='0.4'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    flex-shrink: 0;
                }
            }
        }
    }

    tbody {
        th,
        td {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: thin solid var(--border);
        }

        tr {
            &:last-child {
                th,
                td {
                    border-bottom: none;
                }
            }
        }
    }
}

.btn-icon {
    appearance: none;
    overflow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;

    svg {
        display: block;
    }
}
